version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    deploy:
      resources:
        limits:
          memory: 512M

  api:
    image: ghcr.io/vjfloyd/tenants-service:latest
    container_name: tenants-api
    restart: always
    ports:
      - "4001:4001"
    env_file:
      - .env
    depends_on:
      - mongodb
    deploy:
      resources:
        limits:
          memory: 256M

volumes:
  mongodb_data: